.search {
  margin-top: 30px;
}

input {
  border-radius: 10px;
  outline: none;
  border: 1px rgba(201, 201, 201, 0.3) solid;
  margin-top: 5px;
  width: 300px;
  padding: 10px;
  transition: 0.3s ease;
}

input:focus {
  border: 1px rgb(165, 165, 165) solid;
  transition: 0.3s ease;
}
